<div class="main-body">
    <div class="body-header" style="justify-content: center !important;">
        <h4>Booking Details</h4>
    </div>
    <table id="table_booking" class="table">
        <thead class="content_title">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">User Email</th>
                <th scope="col">Theatre ID</th>
                <th scope="col">Movie ID</th>
                <th scope="col">Show Date</th>
                <th scope="col">Combo ID</th>
                <th scope="col">Booked On</th>
                <th scope="col">Seat</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody id="list_booking" class="content_list">
            
        </tbody>
    </table>
</div>