<div class="container" style="min-height: 100vh;">
    <h3 class="text-center text-warning mb-3 mt-5">Purchase History</h3>
    <table class="table">
        <thead>
            <tr class="text-white">
                <th scope="col">No.</th>
                <th scope="col">Date</th>
                <th scope="col">Movie Name</th>
                <th scope="col">Theater</th>
                <th scope="col">Theater Room</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody id="history_container">
            
        </tbody>
    </table>
</div>