<div class="container pt-3 min-vh-100">
    <div class="d-flex justify-content-between">
        <div class="movie_btn_group">
            <button class="movie_btn movie_btn-selected">Opening this week</button>
            <button class="movie_btn">Coming soon</button>
        </div>
        <div class="search_bar my-3">
            <input id="movie_search_input" class="search_input" type="search" placeholder="Search for movie">
            <div id="movie_search_btn" class="search_icon_wrap">
                <i class="fa-solid fa-magnifying-glass search_icon"></i>
            </div>
        </div>
    </div>
    <hr class="mt-0">
    <div id="open_movie" class="list_movie"></div>
    <div id="coming_movie" class="list_movie"></div>
</div>