<div class="d-flex justify-content-center align-items-center container vh-100">
    <div class="d-flex flex-column justify-content-center">
        <h3 class="py-5 text-center text-warning">Would you like to provide feedback to Movie4U?</h3>
        <div class="d-flex justify-content-center py-2">
            <p class="px-4"><i class="fa-solid fa-envelope me-2" style="color: #ffffff;"></i>Movie4u@gmail.com</p>
            <p class="px-4"><i class="fa-solid fa-phone me-2" style="color: #ffffff;"></i>0123456789</p>
        </div>
        <div id="support_form">
            <div class="d-flex justify-content-between pb-2">
                <input type="text" placeholder="Name" autocomplete="false">
                <input type="email" placeholder="Email" class="mx-2" autocomplete="false">
                <input type="tel" placeholder="Phone Number" autocomplete="false">
            </div>
            <textarea id="" class="w-100" style="max-height: 200px; height: 200px; min-height: 200px;" placeholder="Message"></textarea>
            <button class="btn btn-primary float-end w-25">Send</button>
        </div>
    </div>
</div>