<div class="main-body">
    <div class="body-header" style="justify-content: center !important;">
        <h4>Users</h4>
        {{!-- <div class="content_btn">
            <button type="button" class="btn btn-success " data-bs-toggle="modal"
                data-bs-target="#combo_add-modal">Add</button>
            <button id="btn_delete-combo" type="submit" class="btn btn-danger ">Delete Selected</button>
        </div> --}}
    </div>
    <table id="table_users" class="table">
        <thead class="content_title">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Birthday</th>
                <th scope="col">Registration Date</th>
            </tr>
        </thead>
        <tbody id="list_users" class="content_list">
            {{!-- <tr>
                <th scope="row">1</th>
                <th>Nguyễn Mai Duy</th>
                <td>zuykorean@gmail.com</td>
                <td>0947138821</td>
                <td>0947138821</td>
                <td>0947138821</td>
                <td>19-08-2002</td>
            </tr> --}}
        </tbody>
    </table>
</div>